{% extends "app/base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <h1>New Question</h1>
    </div>
</div>

{% load django_bootstrap5 %}

<form method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_form_errors form %}
        </div>
    </div>

    {% for field in form %}
    {% bootstrap_field field layout="horizontal" wrapper_class="row mb-3" placeholder="" %}
    {% endfor %}
    
    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_button "ASK!" button_type="submit" %}
        </div>
    </div>
</form> 
{% comment %}
<form>
    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="theme">Theme</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="theme" placeholder="Theme of the question ...">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label" for="text">Text</label>
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="text" rows="20" placeholder="Your question ..."></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="tags">Tags</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="tags" placeholder="Tags of the question ...">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-success" id="submit" value="ASK!">
        </div>
    </div>
</form>
{% endcomment %}
{% endblock %}
