{% load static %}
<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <style type="text/css">
            .page-item:first-child .page-link {
                border-top-left-radius: unset !important;
                border-bottom-left-radius: unset !important;
            }
            .page-item:last-child .page-link {
                border-top-right-radius: unset !important;
                border-bottom-right-radius: unset !important;
            }
        </style>
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="d-flex col-2 align-items-center justify-content-center">
                        <a href="{% url 'index' %}"><img width="200" height="50" src="{% static 'img/logo.png' %}" alt="logo"></a>
                    </div>

                    <form class="col-6 align-items-center">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="col-1 align-items-center">
                        <button type="button" class="btn btn-success px-5">ASK!</button>
                    </div>

                    <div class="col-3 align-items-center">
                        {% block user %}
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-3">
                                <a href="{% url 'signin' %}">log in</a>
                            </div>
                            <div class="col-3">
                                <a href="{% url 'signup' %}">register</a>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 px-5">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-4">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 m-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2023 UmaWebDev, Inc</p>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
        </footer>
    </body>
</html>

