{% extends "app/authorized.html" %}
{% load static %}

{% block content %}
<div class="row align-items-center">
    <div class="col-3 align-items-center"> 
        <h1>New Questions</h1>
    </div>
    <div class="col-9 align-items-center">
        <a href="#">Hot Questions</a>
    </div>
</div>
<div class="row">
    <div class="col m-2 border border-success">
        <div class="row">
            <div class="col-2">
                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <img src="{% static "img/ava.png" %}" height="50" width="50">
                    </div>
                </div>
                <div class="row border border-success mt-3 mx-3 py-1">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <span>10</span>
                    </div>
                    <div class="col-6">
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-success btn-sm px-3">&#8657;</button>
                            <button type="button" class="btn btn-success btn-sm px-3">&#8659;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row m-3">
                    <a href="#" class="fs-4">theme</a>
                </div>
                <div class="row m-3" style="height: 100px;">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.t</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

