{% extends "app/authorized.html" %}
{% load static %}

{% block content %}
<div class="row align-items-center">
    <div class="col-3 align-items-center"> 
        <h1>New Questions</h1>
    </div>
    <div class="col-9 align-items-center">
        <a href="#">Hot Questions</a>
    </div>
</div>
{% for question in questions %}
<div class="row">
    <div class="col m-2 border border-success">
        <div class="row">
            <div class="col-2">
                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <img src="{% static question.avatar %}" height="50" width="50">
                    </div>
                </div>
                <div class="row border border-success bottom-0 mt-3 mx-3 py-1">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <span>{{ question.mark }}</span>
                    </div>
                    <div class="col-6">
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-success btn-sm px-3">&#8657;</button>
                            <button type="button" class="btn btn-success btn-sm px-3">&#8659;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row m-3">
                    <a href="#" class="fs-4">{{ question.theme }}</a>
                </div>
                <div class="row m-3" style="height: 100px;">
                    <span>{{ question.preview_text }}</span>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <span>answers({{ question.ans_count }})</span>
                    </div>
                    <div class="col">
                        <span>Tags:
                            {% for tag in question.tags %}
                                {% if forloop.last %}
                                    <a href="#">{{ tag }}</a>
                                {% else %} 
                                    <a href="#">{{ tag }}</a>, 
                                {% endif %}
                            {% empty %}
                                no tags
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination border-success">
            <li class="page-item border border-success">
                <a class="page-link link-success" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item border border-success"><a class="page-link link-success" href="#">1</a></li>
            <li class="page-item border border-success"><a class="page-link link-success" href="#">2</a></li>
            <li class="page-item border border-success"><a class="page-link link-success" href="#">3</a></li>
            <li class="page-item border border-success">
                <a class="page-link link-success" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

