{% extends "app/authorized.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src="{% static question.profile.avatar %}" alt="" height="200" width="200">
            </div>
        </div>
        <div class="row border border-success bottom-0 m-3 py-1">
            <div class="col-9 d-flex justify-content-center align-items-center">
                <span>{{ question.marks }}</span>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-success btn-sm px-3">&#8657;</button>
                    <button type="button" class="btn btn-success btn-sm px-3">&#8659;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row m-3 text-break">
            <span class="fs-4">{{ question.theme }}</span>
        </div>
        <div class="row m-3">
            <span>{{ question.text }}</span>
        </div>
        <div class="row m-3">
            <div class="col">
                <span>Tags:
                    {% for tag in question.tags.all %}
                        {% if forloop.last %}
                        <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                        {% else %} 
                        <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>, 
                        {% endif %}
                    {% empty %}
                        no tags
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
<hr align="center" size="2" color="#ff0000" />
{% for answer in answers %}
<div class="row">
    <div class="col m-2 border border-success">
        <div class="row">
            <div class="col-3">
                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <img src="{% static answer.profile.avatar %}" height="100" width="100">
                    </div>
                </div>
                <div class="row border border-success bottom-0 m-3 py-1">
                    <div class="col-9 d-flex justify-content-center align-items-center">
                        <span>{{ answer.marks }}</span>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-success btn-sm px-3">&#8657;</button>
                            <button type="button" class="btn btn-success btn-sm px-3">&#8659;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row m-3">
                    <span>{{ answer.text }}</span>
                </div>
                {% if answer.is_correct %}
                <div class="row m-3">
                    <span>correct!!!</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<hr align="center" size="2" color="#ff0000" />
<div class="row">
    <form>
        <div class="row mb-3">
            <div class="col-sm">
                <textarea class="form-control" id="text" rows="10" placeholder="Enter your answer here ..."></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2">
                <input type="submit" class="form-control btn btn-success" id="submit" value="ASK!">
            </div>
        </div>
    </form>
</div>
{% endblock %}

