{% extends "app/authorized.html" %}

{% block content %}
{% block paginated_content %}{% endblock %}
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination border-success" style="--bs-pagination-active-bg: #146c43;--bs-pagination-active-border-color: green;">
            {% if page.has_previous %}
            <li class="page-item border border-success">
                <a class="page-link link-success" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item border border-success">
                <a class="page-link link-success" href="?page={{ page.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% for i in page_range %}
                {% if page.number == i %}
                <li class="page-item border border-success active"><a class="page-link link-success" href="#">{{ i }}</a></li>
                {% elif i == page.paginator.ELLIPSIS %}
                <li class="page-item border border-success"><a class="page-link link-success disabled" href="#">{{ i }}</a></li>
                {% else %}
                <li class="page-item border border-success"><a class="page-link link-success" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li class="page-item border border-success">
                <a class="page-link link-success" href="?page={{ page.next_page_number }}">next</a>
            </li>
            <li class="page-item border border-success">
                <a class="page-link link-success" href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
