{% extends "app/paginator.html" %}
{% load static %}

{% block paginated_content %}
{% block header_content %}{% endblock %}
{% for question in page %}
<div class="row">
    <div class="col m-2 border border-success">
        <div class="row">
            <div class="col-3">
                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <img src="{% static question.profile.avatar %}" height="100" width="100">
                    </div>
                </div>
                <div class="row border border-success bottom-0 mt-3 mx-3 py-1">
                    <div class="col-9 d-flex justify-content-center align-items-center">
                        <span>{{ question.marks }}</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-success btn-sm px-3">&#8657;</button>
                            <button type="button" class="btn btn-success btn-sm px-3">&#8659;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row m-3 text-break">
                    <a href="{% url 'question' question.id %}" class="fs-4">{{ question.theme }}</a>
                </div>
                <div class="row m-3" style="height: 100px;">
                    <span>{{ question.text|slice:":400" }}...</span>
                </div>
                <div class="row m-3">
                    <div class="col-3">
                        <span>answers({{ question.answers }})</span>
                    </div>
                    <div class="col-9 text-break">
                        <span>Tags:
                            {% for tag in question.tags.all %}
                                {% if forloop.last %}
                                <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                {% else %} 
                                <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>, 
                                {% endif %}
                            {% empty %}
                                no tags
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

