{% extends "app/base.html" %}

{% block sidebar %}
<div class="row">
    <div class="row">
        <h3>Popular Tags</h3>
    </div>
    <div class="row">
        <p>
            {% for pt in popular_tags %}
            <a href="#">{{ pt }}</a>
            {% endfor %}
        </p>
    </div>
</div>
<div class="row">
    <div class="row">
        <h3>Best Members</h3>
    </div>
    <div class="row">
        <ul>
            {% for bm in best_members %}
            <li>{{ bm }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

