{% extends "app/base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <h1>Registration</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <span class="text-danger">{{ error.details }}</span>
    </div>
</div>

{% load django_bootstrap5 %}

<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_form_errors form %}
        </div>
    </div>

    {% for field in form %}
    {% bootstrap_field field layout="horizontal" wrapper_class="row mb-3" placeholder="" %}
    {% endfor %}
    
    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_button "Register" button_type="submit" %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="{% url 'signin' %}">already have an account?</a>
        </div>
    </div>
</form>

{% comment %}
<form>
    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="login">Login</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="login">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="email">Email</label>
        </div>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="nickname">NickName</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="nickname">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="password">Password</label>
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="repeat-password">Repeat password</label>
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="repeat-password">
        </div>
    </div>
            
    <div class="row mb-3 input-group">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="avatar">Avatar</label>
        </div>
        <div class="col-sm-4">
            <input type="file" class="form-control" id="avatar">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-primary" id="submit" value="Register">
        </div>
    </div>
</form>
{% endcomment %}
{% endblock %}
