{% extends "app/sidebar.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <h1>Log In</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <span class="text-danger">{{ error.details }}</span>
    </div>
</div>
  
<form>
    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="login">Login</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="login">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="password">Password</label>
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-primary" id="submit" value="Log In">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="{% url 'signup' %}">create new account</a>
        </div>
    </div>
</form>
{% endblock %}
