{% extends "app/base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <h1>Log In</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm">
        <span class="text-danger">{{ error.details }}</span>
    </div>
</div>

{% load django_bootstrap5 %}

<form method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_form_errors form %}
        </div>
    </div>

    {% for field in form %}
    {% bootstrap_field field layout="horizontal" wrapper_class="row mb-3" placeholder="" %}
    {% endfor %}
    
    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            {% bootstrap_button "Log In" button_type="submit" %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="{% url 'signup' %}">create new account</a>
        </div>
    </div>


</form>

{% comment %}
<form>
    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="login">Login</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="login">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label position-relative top-50 translate-middle-y" for="password">Password</label>
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-primary" id="submit" value="Log In">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="{% url 'signup' %}">create new account</a>
        </div>
    </div>
</form>
{% endcomment %}
{% endblock %}
